/*
@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-BoldOblique.woff2') format('woff2'),
        url('../fonts/GTWalsheim-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Bold.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-LightOblique.woff2') format('woff2'),
        url('../fonts/GTWalsheim-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-RegularOblique.woff2') format('woff2'),
        url('../fonts/GTWalsheim-RegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Light.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Regular.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
  font-family: 'Eina';
  src: local('Eina'),
       url('../fonts/eina-01-bold.woff2') format('woff2'),
       url('../fonts/eina-01-bold.woff') format('woff'),
       url('../fonts/eina-01-bold.ttf') format('ttf'),
       url('../fonts/eina-01-bold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina'),
       url('../fonts/eina-01-semibold.woff2') format('woff2'),
       url('../fonts/eina-01-semibold.woff') format('woff'),
       url('../fonts/eina-01-semibold.ttf') format('ttf'),
       url('../fonts/eina-01-semibold.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina'),
       url('../fonts/eina-01-regular.woff2') format('woff2'),
       url('../fonts/eina-01-regular.woff') format('woff'),
       url('../fonts/eina-01-regular.ttf') format('ttf'),
       url('../fonts/eina-01-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
