@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 300;
src: local('Avenir LT Std 55 Roman'), url('../fonts/AvenirLTStd-Roman.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 200;
src: local('Avenir LT'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 400;
src: local('Avenir LT'), url('../fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 500;
src: local('Avenir LT'), url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 600;
src: local('Avenir LT'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 800;
src: local('Avenir LT'), url('../fonts/AvenirLTStd-Black.woff') format('woff');
}