// Fonts
// Mixin for Font Face

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");

@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo-300.eot');
	src: url('fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
		url('fonts/Museo-300.woff') format('woff'),
		url('fonts/Museo-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo-500.eot');
	src: url('fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
		url('fonts/Museo-500.woff') format('woff'),
		url('fonts/Museo-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo-700.eot');
	src: url('fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
		url('fonts/Museo-700.woff') format('woff'),
		url('fonts/Museo-700.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}